/* General */
body {
	font-family: sans-serif;
	background-color: #2b2a33;
	color: #fbfbfe;
}

main {
	max-width: 90%;
	margin: 2rem auto;
}

.card {
	margin: 0.5em;
	padding: 1em;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	background-color: #42414d;
	text-align: center;
}

/* Currency */
#currency-rate, #weather-forecast {
	display: grid;
}

#currency-rate {
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.price-change {
	font-size: 0.6em;
	vertical-align: super;
}

.currency-name {
	font-size: 1.7em;
	padding: 0.3em;
}

.flag {
	width: 0.9em;
	margin-left: -0.5em;
}

/* Weather */
#weather-forecast {
	grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}

#current-forecast {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

#weather-forecast h3,
#weather-forecast p {
	margin: 0.4em;
}

#current-forecast img {
	margin-bottom: -1.1em;
	margin-right: -0.5em;
}

#current-forecast h2 {
	display: inline-block;
	font-size: 2.5em;
	margin: 0 0 0.3em 0;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
	main {
		max-width: 75.25rem;
	}
}